---
import Common from '../../layouts/Common.astro';

import Menu from '../../components/molecules/Menu';
import BlogsList from '../../components/molecules/BlogsList.astro';
import { getAll } from '../../services/blogs';

const title = 'Santiago Calvo Full Stack developer blog posts.';
const description = `
Santiago Calvo Full Stack developer blog posts containing topics for React, CI/CD and other \
technologies related to software development.
`;

const blogs = await getAll();
---

<Common title={title} description={description}>
  <div class="overflow-x-hidden">
    <Menu client:load />

    <div class="pt-16 p-4 md:p-24">
      <h1 class="text-4xl text-secondary-500 mb-10">Blog posts</h1>

      <BlogsList blogs={blogs} />
    </div>
  </div>
</Common>
