@tailwind base;
@tailwind components;
@tailwind utilities;

/* fira-code-300 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/fira-code-v14-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/fira-code-v14-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-code-v14-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-code-v14-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-code-v14-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-code-v14-latin-300.svg#FiraCode") format("svg"); /* Legacy iOS */
}
/* fira-code-regular - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fira-code-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/fira-code-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-code-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-code-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-code-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-code-v14-latin-regular.svg#FiraCode") format("svg"); /* Legacy iOS */
}
/* fira-code-500 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/fira-code-v14-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/fira-code-v14-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-code-v14-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-code-v14-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-code-v14-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-code-v14-latin-500.svg#FiraCode") format("svg"); /* Legacy iOS */
}
/* fira-code-600 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/fira-code-v14-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/fira-code-v14-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-code-v14-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-code-v14-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-code-v14-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-code-v14-latin-600.svg#FiraCode") format("svg"); /* Legacy iOS */
}
/* fira-code-700 - latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/fira-code-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/fira-code-v14-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-code-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-code-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-code-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-code-v14-latin-700.svg#FiraCode") format("svg"); /* Legacy iOS */
}

* {
  font-family: "Fira Code", "Courier New", Courier, monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #252525;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131313;
  border-radius: 100vh;
  border: 3px solid #252525;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}

.cursor-2xl {
  @apply bg-white leading-10 ml-1 w-3 h-8 animate-[pulse_0.5s_ease-in-out_infinite];
}
