---
// Component Imports
import Presentation from '../components/molecules/Presentation.astro';
import SkillSet from '../components/molecules/SkillSet.astro';
import About from '../components/molecules/About.astro';
import TechSet from '../components/molecules/TechSet.astro';
// You can import components from any supported Framework here!
import SolidCounter from '../components/SolidCounter.jsx';
import Menu from '../components/molecules/Menu.jsx';
import Contact from '../components/molecules/Contact.jsx';

import '../styles/global.css';

// Component Script:
let title = 'My Astro Site';

const skills = [
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
];

const techs = [
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
];
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body class="bg-primary-500">
  <Menu client:visible />
  <main>
    <Presentation
      name="Santiago Calvo"
      age="21"
      position="Fullstack dev, Team Lead"
      place="Eagerworks"
    />

    <div class="p-4 md:p-8">
      <SkillSet skills={skills} />

      <About />

      <TechSet techs={techs} />

      <Contact client:visible />
    </div>
  </main>
</body>
</html>
