---
const { name } = Astro.props;
---
<div>
    <div class="font-semibold text-2xl uppercase text-white">
        <p>
            Hi! I'm <span class="text-violet-700">{name}</span>.
        </p>
        <div class="flex flex-row">
            FullStack Web Developer @ EagerWorks
            <div class="cursor-2xl"></div>
        </div>
    </div>
</div>
