---
import { Icon } from 'astro-icon';
import type Tech from '../../types/Tech';

interface Props extends Omit<Tech, 'description'> {
  small?: boolean;
}

const { name, icon, small = false } = Astro.props;
---

<!-- h-[68px] w-[68px] --><!-- h-[92px] w-[92px] -->
<div class={`h-[${small ? '68px' : '92px'}] w-[${small ? '68px' : '92px'}] relative`}>
  <div
    class={`absolute rounded-full bg-primary-400 p-${
      small ? 3 : 5
    } border-2 border-secondary-500 hover:border-4 hover:scale-110 transition-all hover:bg-secondary-100 duration-500 shadow-md hover:shadow-xl shadow-secondary-500`}
  >
    <Icon
      name={icon}
      height={small ? 38 : 52}
      width={small ? 38 : 52}
      class="rounded drop-shadow hover:drop-shadow-xl"
    />
    <span class="sr-only">{name}</span>
  </div>
</div>
