---
const { name, icon, description } = Astro.props;
---
<div class="transition-all duration-150 rounded-md group text-white bg-primary-400 p-5">
	<div class="flex flex-row items-center">
		<div class="mr-5">
			<img class="transition-all duration-150 flex group-hover:hidden" src="/assets/arrow-right.svg" />
			<img class="transition-all duration-150 hidden group-hover:flex" src="/assets/arrow-down.svg" />
		</div>
		<h4 class="text-xl">{name}</h4>
	</div>
	<div class="hidden group-hover:flex items-center">
		<img src={icon} class="h-10 w-10 mr-5"/>
		<h5 class="text-lg">{description}</h5>
	</div>
</div>
