---
import { Icon } from "astro-icon";
const { name, icon, description } = Astro.props;
---
<div class="transition-all duration-150 rounded-md group text-white bg-primary-400 p-5 max-h-20 hover:max-h-full">
	<div class="flex flex-row items-center">
		<div class="mr-5">
			<div class="transition-all duration-150 flex group-hover:rotate-90">
				<Icon name="tabler:chevron-right" height={26} />
			</div>
		</div>
		<h3 class="text-xl">{name}</h3>
	</div>
	<div class="hidden group-hover:flex gap-4 items-center">
		<Icon name={icon} height={54} />
		<p class="text-lg">{description}</p>
	</div>
</div>
