---

---
<div class="flex flex-col text-white" id="About">
	<h2 class="text-secondary-500 text-3xl mb-10">About:</h2>
	<p class="text-lg mb-5">
		This is some trash text discribing
		some of my main qualities as a full stack Developer.
		I should also describe a little bit about myself
		and some other stuff of why I do what I do.
	</p>
	<p class="text-lg">
		I should also describe some more stuff some where
		around here. Not sure what.
	</p>
</div>
