---

---
<div class="flex flex-col gap-2 items-center justify-center" id="Contact">
  <div class="mb-4 flex items-center justify-center gap-4 w-full">
    <div class="flex-grow border-t border-gray-400 opacity-50" />

    <h2 class="text-3xl text-secondary-500">Contact</h2>

    <div class="flex-grow border-t border-gray-400 opacity-50" />
  </div>

  <p class="text-center text-white-200 text-lg w-3/4 md:w-1/2 mb-4">
    Although I am currently not looking for any new opportunities, we can still talk and get to
    know each other. I will try my best to get back to you!
  </p>
  <a
    href="mailto:sncalvo5@gmail.com"
    class="primary-actionable"
    rel="noopener noreferrer"
    target="_blank"
  >
    Say Hi!
  </a>
</div>
