---
import { Icon } from 'astro-icon';

const links = [
  {
    name: 'Github',
    icon: 'simple-icons:github',
    url: 'https://github.com/sncalvo/',
  },
  {
    name: 'LinkedIn',
    icon: 'simple-icons:linkedin',
    url: 'https://www.linkedin.com/in/santiago-calvo-vello/',
  },
  {
    name: 'Twitter',
    icon: 'simple-icons:twitter',
    url: 'https://twitter.com/santi_c_dev',
  },
];
---

<footer class="p-4 flex flex-col gap-4">
  <ul class="flex flex-row items-center justify-center gap-4">
    {
      links.map(({ url, icon, name }) => (
        <li class="transition-all duration-300 delay-100 hover:scale-110 hover:-translate-y-2">
          <a
            href={url}
            class="text-secondary-500 hover:text-white-100 transition-all duration-300 delay-100"
            target={name}
          >
            <Icon name={icon} size={34} />
            <span class="sr-only">{name}</span>
          </a>
        </li>
      ))
    }
  </ul>

  <div class="text-center text-white-300">
    <p class="text-sm">Designed & Built by Santiago Calvo</p>
  </div>
</footer>
