---
import PresentationParagraph from '../atoms/PresentationParagraph';
import BackgroundImage from '../atoms/BackgroundImage.astro';

const { name, birthDate, position, place } = Astro.props;
---

<div class="h-screen w-full flex items-center justify-center" id="Presentation">
  <div class="z-10 p-5">
    <PresentationParagraph
      client:visible
      name={name}
      birthDate={birthDate}
      position={position}
      place={place}
    />
  </div>

  <BackgroundImage imageSrc="/assets/background.webp" />
</div>
