---
import Skill from '../atoms/Skill.astro';

const skills = [
  {
    name: 'Productivity',
    description:
      'I have experience taking plenty of responsability for a project at the same time while still being able to get the job done on time.',
    icon: 'tabler:settings',
    thumbnail: 'productive',
  },
  {
    name: 'Leadership',
    description:
      'I have the ability to lead a team and make sure everyone is on the same page, always ensuring that everyone is also comfortable with the project to ensure the best environment.',
    icon: 'tabler:building-lighthouse',
    thumbnail: 'leadering',
  },
  {
    name: 'Proactive',
    description:
      'Waiting for problems to happen is not my thing, I always try to be proactive and solve them before they happen.',
    icon: 'tabler:file-alert',
    thumbnail: 'blame',
  },
  {
    name: 'Self-learning',
    description:
      'I can easily identify and solve problems that I have not yet encountered, and I can learn new technologies and techniques to make my work more efficient.',
    icon: 'tabler:notebook',
    thumbnail: 'learner',
  },
];
---

<div id="SkillSet">
  <div class="mb-4 flex items-center justify-center gap-4">
    <a href="/#SkillSet" class="group">
      <h2 class="text-white text-3xl">
        These are my core <span class="text-secondary-500 shadow-secondary-500 transition-all"
          >skills
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-secondary-500"
          ></span>
        </span>
      </h2>
    </a>

    <div class="flex-grow border-t border-gray-400 opacity-50"></div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    {skills.map((skill) => <Skill {...skill} />)}
  </div>
</div>
