---
import Skill from '../atoms/Skill.astro';

const { skills } = Astro.props;
---
<div class="p-5" id="SkillSet">
	<h2 class="text-3xl text-white mb-10">
		These are my <span class="text-secondary-500">skills</span>:
	</h2>
	<div class="grid grid-cols-2 md:grid-cols-4 gap-5">
		{skills.map((skill) => (
			<Skill {...skill} />
		))}
	</div>
</div>
