---
import Tech from '../atoms/Tech.astro';

const techs = [
  {
    name: 'Typescript',
    icon: 'logos:typescript-icon',
  },
  {
    name: 'React',
    icon: 'logos:react',
  },
  {
    name: 'NextJS',
    icon: 'logos:nextjs-icon',
  },
  {
    name: 'Ruby on Rails',
    icon: 'logos:rails',
  },
  {
    name: 'AWS',
    icon: 'logos:aws',
  },
  {
    name: 'Swift',
    icon: 'logos:swift',
  },
  {
    name: 'Python',
    icon: 'logos:python',
  },
  {
    name: 'Rust',
    icon: 'logos:rust',
  },
  {
    name: 'Golang',
    icon: 'logos:go',
  },
];
---

<div id="TechSet">
  <div class="mb-10 flex items-center justify-center gap-4">
    <a href="/#TechSet" class="group">
      <h2 class="text-white text-3xl">
        Main <span class="text-secondary-500 shadow-secondary-500 transition-all"
          >techs
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-secondary-500"
          ></span>
        </span>
      </h2>
    </a>

    <div class="flex-grow border-t border-gray-400 opacity-50"></div>
  </div>

  <div class="flex gap-5 items-center h-36 overflow-x-auto -ml-4 pl-4 -mb-4 pb-4">
    {
      techs.slice(0, 6).map((tech) => (
        <a>
          <Tech {...tech} />
        </a>
      ))
    }
  </div>

  <div class="flex gap-3 items-center h-24 overflow-x-auto -ml-4 pl-4 -mb-4 pb-4">
    {techs.slice(6).map((tech) => <Tech {...tech} small />)}
  </div>
</div>
